[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["corepack enable", "pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["pnpm --filter @terragon/www build"]

[start]
cmd = "cd apps/www && pnpm start"
